    <h1><%= gettext("New post") %></h1>
    <%= BlogPostForm.get_form(type: :create, action: :create, params: [], changeset: @changeset) %>
    <%= Brando.Villain.HTML.initialize(
          base_url:     "/admin/blog/",
          image_series: "blog-post",
          source:       "textarea[name=\"blog_post[data]\"]") %>
